<!-- gallery source code -->

<div class="gallerynew">

<div class="column1">
{% for item in page.gallery %} <!-- open up data -->
{% if item.column == 1 %}
  <div class="galleryitemnew">
    <img src="{{ '/assets/images/' | append: page.gallerydir | append: '/' | append: item.filename | relative_url }}" alt="{{ item.description }}" title="{{ item.description }}" class="gallerypic">
    <label for="{{ item.name }}"> <!-- use "label" to turn entire object into checkbox button -->
      <div class="galleryoverlay">
        <div class="gallerytext">
          <h2>{{ item.name }}</h2>
          <p>{{ item.description }}</p>
        </div>
      </div>
    </label>
    <input type="checkbox" class="state" id="{{ item.name }}"/>
    <aside class="lightbox">
      <img src="{{ '/assets/images/' | append: page.gallerydir | append: '/' | append: item.filename | relative_url }}" alt="{{ item.description }}" title="{{ item.description }}">
    </aside>
    <label class="backdrop" for="{{ item.name }}"></label> <!-- use "label" to turn entire object into checkbox button -->
  </div>
{% endif %}
{% endfor %}
</div>

<div class="column2">
{% for item in page.gallery %} <!-- open up data -->
{% if item.column == 2 %}
  <div class="galleryitemnew">
    <img src="{{ '/assets/images/' | append: page.gallerydir | append: '/' | append: item.filename | relative_url }}" alt="{{ item.description }}" title="{{ item.description }}" class="gallerypic">
    <div class="galleryoverlay">
      <div class="gallerytext">
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
      </div>
    </div>
  </div>
{% endif %}
{% endfor %}
</div>

</div>
