<!-- 2 column gallery (WITH overlay) -->
<!-- all data categories must be featured on the page, or else a lightbox error occurs -->

<!-- if widescreen, show wide version -->
<div class="wide">
  <div class="gallerynew">
    <div class="column1">
    {% for category in page.gallery %}
      {% if category[0] == include.category %}
        {% for item in category[1] %}
          {% if item.column == 1 %}
            <div class="galleryitemnew">
              <img src="{{ '/assets/images/' | append: page.gallerydir | append: '/' | append: item.filename | relative_url }}" alt="{{ item.name }}" title="{{ item.name }}" class="gallerypic" {% if include.loading == "lazy" %}loading="lazy"{% endif %}>
              <label for="{{ item.name }}"> <!-- use "label" to turn entire overlay into checkbox button -->
                <div class="galleryoverlay">
                  <div class="gallerytext">
                    <h2>{{ item.name }}</h2>
                    <p>{{ item.description }}</p>
                  </div>
                </div>
              </label>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    </div>

    <div class="column2">
    {% for category in page.gallery %}
      {% if category[0] == include.category %}
        {% for item in category[1] %}
          {% if item.column == 2 %}
            <div class="galleryitemnew">
              <img src="{{ '/assets/images/' | append: page.gallerydir | append: '/' | append: item.filename | relative_url }}" alt="{{ item.name }}" title="{{ item.name }}" class="gallerypic" {% if include.loading == "lazy" %}loading="lazy"{% endif %}>
              <label for="{{ item.name }}"> <!-- use "label" to turn entire overlay into checkbox button -->
                <div class="galleryoverlay">
                  <div class="gallerytext">
                    <h2>{{ item.name }}</h2>
                    <p>{{ item.description }}</p>
                  </div>
                </div>
              </label>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>


<!-- if narrowscreen, show narrow version -->
<div class="narrow">
  <div class="gallerynew">
    <div class="column3">
    {% for category in page.gallery %}
      {% if category[0] == include.category %}
        {% for item in category[1] %}
          <div class="galleryitemnew">
            <img src="{{ '/assets/images/' | append: page.gallerydir | append: '/' | append: item.filename | relative_url }}" alt="{{ item.name }}" title="{{ item.name }}" class="gallerypic" {% if include.loading == "lazy" %}loading="lazy"{% endif %}>
            <label for="{{ item.name }}"> <!-- use "label" to turn entire overlay into checkbox button -->
              <div class="galleryoverlay">
                <div class="gallerytext">
                  <h2>{{ item.name }}</h2>
                  <p>{{ item.description }}</p>
                </div>
              </div>
            </label>
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</div>


<!-- show lightbox regardless of version -->
{% for category in page.gallery %}
  {% for item in category[1] %}
  <input type="checkbox" class="state" id="{{ item.name }}"/>
  <label class="lightbox" for="{{ item.name }}">
    <img src="{{ '/assets/images/' | append: page.gallerydir | append: '/' | append: item.filename | relative_url }}" alt="{{ item.name }}" title="{{ item.name }}" class="gallerypic">
  </label>
  {% endfor %}
{% endfor %}
