<!-- horizontal navigation bar source code -->
<nav>
  {%- for item in site.data.navigation -%}

  {%- if item.options -%}
    <span class="dropdown">
      <span class="dropbutton"><!-- breaking the a into 3 lines adds a space after the link name for some reason, but it doesn't affect the actual navbar spacing -->
        {{- item.name -}}
      </span>
      <div class="dropcontent"><!-- styling controls whether these go down/up on top/bottom nav -->
        {%- for option in item.options -%}
          <a href="{{ option.link }}" {% if page.url == option.link %}class="current"{% endif %}>{{ option.name }}</a>
        {%- endfor -%}
      </div>
    </span>
  {%- else -%}
    <a href="{{- item.link -}}" {%- if page.url == item.link -%}class="current"{%- endif -%}><!-- breaking the a into 3 lines adds a space after the link name for some reason, but it doesn't affect the actual navbar spacing -->
      {{- item.name -}}
    </a>
  {%- endif -%}
  <!-- add image after every link except last -->
  {%- if forloop.last == false %}
  /
  {% endif -%}

  {%- endfor -%}
</nav>
