// sass that can be converted/imported into the built site's CSS hub, ex: styles.scss

// VARIABLES, IMPORTS, ETC.

// SET SCSS VARIABLES /////////////////////////////////////////////////////////////////////////////
$gapheight: 20px; // spacing between main layout elements
$boxpadding: 20px; // padding for containers
$elementmargintb: 40px; // top/bottom spacing for contained elements, ex: h1 or p
$lineheight: 1.4em; // for normal text and emojis, 1.6 is recommended, wikibox p's are reset to "normal" (~110%-120%)
$containerwidth: 1000px; // contains all layout elements
$transition: .2s; // for animations such as gallery overlay

$colorbg: rgb(26,28,43);
$colorbox1: rgb(44,52,67);
$colorbox2: rgb(53,78,81);
$colorbox3: rgb(47,98,81);
$colorwhite: rgb(235,231,214);

$colorred: #E11772;
$colororange: #FB7C77;
$coloryellow: #FF9C00;
$colorgreen: #A4FA7B;
$colorblue: #57D4DE;
$colorpurple: #939EFA;

// SCSS FUNCTION TO TOGGLE BACKGROUND COLORS ON OR OFF (I'M A GENIUS) //////////////////////////////////////////
// $colortoggle: true;
$colortoggle: false;

@mixin replace-bgcolor($localcolor, $colortoggle) {
  @if $colortoggle {
    background-color: $localcolor; // use given color when toggle is on
  } @else {
    background-color: transparent; // default color when toggle is off
  }
}

// FONTS /////////////////////////////////////////////////////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

@font-face { // set custom font
  font-family: pixelfont;
  src: url("/assets/fonts/5x5pixelfont.ttf"); // requires leading /, does not accept liquid site.baseurl
}
@font-face { // set custom font
  font-family: handwritten;
  src: url("/assets/fonts/zzzhandwritten.ttf"); // requires leading /, does not accept liquid site.baseurl
}
@font-face { // set custom font
  font-family: pixeltitle;
  src: url("/assets/fonts/pixeltitle.ttf"); // requires leading /, does not accept liquid site.baseurl
}
