---
---
<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/placeholder.png"> <!-- favicon -->
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}"> <!-- /_site's static site css -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex"> <!-- prevent search engine indexing -->
    <script>
      console.log("congratulations! you've found the console :^)");
    </script>
  </head>

  <body
  {% if page.background %}
    style="background:{{ site.data.backgrounds[page.background] }};"
  {% else %}
    style="background:{{ site.data.backgrounds.default }};"
  {% endif %}
  > <!-- customized background -->
    <div class="buffer"></div>
    <div class="container"> <!-- full layout -->
      {% include header.html %}
      {% include navbar.html %}
      <main>{{ content }}</main>
      {% include navbar.html %}
      {% include footer.html %}
    </div>
    <div class="buffer"></div>
  </body>

</html>
